{
  "YoutubeCommentCrawler": {
    "ENV": "development",
    "ACCESS_KEY": "",
    "SECRET_KEY": "",
    "SERVICE_ACCOUNT_KEY": "",
    "SERVICE_ACCOUNT_FILE_NAME": "",
    "SERVICE_BUCKET": "",
    "COMMENT_BUCKET": "",
    "MAX_VIDEOS_COUNT": "",
    "MAX_COMMNETS_COUNT": ""
  }
}
